@import "../../../../app/styles/common/variables";

.upload-file {
  background: $background-color;
  border-radius: 8px;
  margin: 5px 0;
  padding: 5px 10px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__progress-bar {
    height: 1rem;
    border-radius: 8px;
    background: $font-color;
    display: flex;
    margin: 3px 0;
  }

  &__upload-bar {
    background: green;
    border-radius: 8px;
  }

  &__percent {
    color: $background-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
