@import "../../../../app/styles/mixins/mixins";

.table {
  width: 100%;
  border-radius: rem(10px);

  &__header,
  &__body {
    width: 100%;
  }

  &__header {
    border-top-right-radius: rem(10px);
    border-top-left-radius: rem(10px);
    padding: rem(16px);
    background: #fafafa;

    .table__row {
      padding: rem(0 16px);
    }

    .table__col {
      font-size: rem(14px);
      line-height: 150%;
      font-weight: 500;
    }
  }

  &__body {
    padding: rem(10px);
    border-bottom-right-radius: rem(10px);
    border-bottom-left-radius: rem(10px);
    background: #ffffff;

    .table__row {
      padding: rem(6.5px 16px);
      border-radius: rem(5px);
      transition: all 0.3s ease;
      cursor: pointer;
      height: rem(52px);
      box-sizing: border-box;

      &:hover {
        background: #f2f2f2;
      }
    }

    &-container {
      // height: calc(100vh - 410px);
      height: calc(100vh - 240px);
      overflow-y: scroll;

      /* Hide default scrollbar */
      &::-webkit-scrollbar {
        width: rem(7px);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #bdcedb;
        border-radius: rem(6px);
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #bdcedb;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: rem(6px);
      }
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__col {
    &.--name {
      flex: 0 0 28.5%;
    }

    &.--tag {
      flex: 0 0 16.73%;
    }

    &.--timestamp {
      flex: 0 0 17.05%;
    }

    &.--owner {
      flex: 0 0 17.53%;
    }

    &.--modified {
      flex: 0 0 15.45%;
    }

    &.--menu {
      flex: 0 0 4.76%;
    }
  }

  &__uploader {
    height: calc(100vh - 240px);
    border: rem(2px dashed #454545);
    border-radius: rem(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-icon {
      width: rem(86px);
      height: rem(86px);
      background: url("../../../../shared/assets/img/table/upload-icon.svg")
        center / contain no-repeat;
    }

    &-desc {
      margin-top: rem(12px);
      font-size: rem(32px);
      text-align: center;
    }

    &-btn {
      margin-top: rem(12px);
    }
  }
}
