@import "../../../app/styles/common/variables";
@import "../../../app/styles/mixins/mixins";

.v-input {
  position: relative;

  &.--type-search {
    .v-input__field {
      padding: rem(12px 16px 12px 42px);
    }
  }

  &__search {
    position: absolute;
    width: rem(16px);
    height: rem(16px);
    top: 50%;
    margin-top: rem(-8px);
    left: rem(16px);
    background: url("../../assets/img/search.svg");
  }

  &__field {
    width: 100%;
    height: rem(42px);
    border: none;
    outline: none;
    padding: rem(12px 16px);
    border-radius: rem(5px);
    color: $font-color;
    font-size: rem(14px);
    letter-spacing: 0%;
    line-height: 125%;
    border: rem(1px solid #bdbdbd);

    &::placeholder {
      color: #757575;
    }
  }
}
