@import "../../../app/styles/mixins/mixins";

.navbar {
  position: absolute;
  left: rem(270px);
  right: 0;
  top: 0;
  height: rem(77px);
  display: flex;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(15px 10px 0 10px);
  }

  &__chapter {
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      align-items: center;
      gap: rem(5px);
    }

    &-icon {
      width: rem(22.75px);
      height: rem(22.75px);

      &.--storage {
        background: url("../../assets/img/storage-black.svg");
      }
    }

    &-title {
      font-weight: 500;
      font-size: rem(20px);
      display: flex;
      align-items: center;

      > div {
        margin-left: rem(3px);
      }
    }
  }

  &__helpers {
    display: flex;
    align-items: center;
    gap: rem(40px);
  }

  &__search {
    width: rem(395px);
  }

  &__info {
    display: flex;
    align-items: center;
    gap: rem(6px);

    &-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(34px);
      height: rem(34px);
      background: #37a0ea;
      color: #ffffff;
      font-size: rem(12.75px);
      line-height: 121.5%;
      border-radius: 50%;
      font-weight: 500;
    }

    &-name {
      font-size: rem(14px);
      line-height: 150%;
      font-weight: 500;
    }
  }
}
