@import "../../app/styles/mixins/mixins";

.disk {
  &__header {
    padding: rem(5px 0);
    margin: rem(10px 0);

    &-title {
      font-size: rem(20px);
      font-weight: 500;
    }
  }

  &__table {
    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-image {
      width: rem(41px);
      height: rem(41px);
      border-radius: rem(5px);
      position: relative;
      margin-right: rem(11px);

      &::before {
        content: "";
        position: absolute;
        width: rem(25px);
        height: rem(25px);
        top: 50%;
        left: 50%;
        margin: rem(-12.5px 0 0 -12.5px);
      }

      &.--directory {
        background: #9eb0bd;

        &::before {
          background: url("../../shared/assets/img/table/folder.svg") center /
            contain no-repeat;
        }
      }

      &.--image {
        background: #28d9e4;

        &::before {
          background: url("../../shared/assets/img/table/image.svg") center /
            contain no-repeat;
        }
      }

      &.--document,
      &.--file {
        background: #60bbfb;

        &::before {
          background: url("../../shared/assets/img/table/file.svg") center /
            contain no-repeat;
        }
      }

      &.--table {
        background: #94d19a;

        &::before {
          background: url("../../shared/assets/img/table/table.svg") center /
            contain no-repeat;
        }
      }

      &.--video {
        background: #ff8989;

        &::before {
          background: url("../../shared/assets/img/table/video.svg") center /
            contain no-repeat;
        }
      }
    }

    &-title {
      font-size: rem(14px);
      font-weight: 500;
      line-height: 150%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: rem(300px);
    }

    &-desc {
      font-size: rem(14px);
      line-height: 150%;
    }

    &-short {
      width: rem(20px);
      height: rem(20px);
      border-radius: 50%;
      margin-right: rem(8px);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(8.46px);
      color: #f9fafb;

      &.--orange {
        background: #f4a257;
      }
    }

    &-name {
      font-size: rem(14px);
      line-height: 150%;
    }

    &-menu {
      width: rem(30px);
      height: rem(30px);
      cursor: pointer;
      background: url("../../shared/assets/img/burger.svg") center / contain
        no-repeat;
    }

    &-back {
      font-size: rem(22px);
    }
  }

  &__context {
    position: absolute;
    top: rem(40px);
    right: rem(60px);
    width: rem(194px);
    background: #ffffff;
    border-radius: rem(12px);
    box-sizing: border-box;
    padding: rem(16px);
    box-shadow: rem(rgba(100, 100, 111, 0.2) 0px 7px 29px 0px);
    z-index: 100;

    &-point {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: rem(12px);
      padding: rem(8px);
      box-sizing: border-box;
      transition: all 0.3s ease;
      border-radius: rem(8px);

      &:not(:first-child) {
        margin-top: rem(4px);
      }

      &:hover {
        background: #f9fafb;
      }
    }

    &-icon {
      width: rem(20px);
      height: rem(20px);

      &.--edit {
        background: url("../../shared/assets/img/edit.svg") center / contain
          no-repeat;
      }

      &.--download {
        background: url("../../shared/assets/img/download.svg") center / contain
          no-repeat;
      }

      &.--delete {
        background: url("../../shared/assets/img/binIcon.svg") center / contain
          no-repeat;
      }
    }

    &-title {
      font-size: rem(16px);
    }
  }
}
