@import "../../../app/styles/mixins/mixins";

.sidebar {
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  bottom: 0;
  width: rem(270px);

  &__wrapper {
    width: 100%;
    height: 100%;
    background: #37a0ea;
  }

  &__header {
    width: 100%;
    padding: rem(16px 20px);
    background: #2a8fd7;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: rem(10px);

    &-logo {
      width: rem(34px);
      height: rem(34px);
      background: url("../../assets/img/logo-example.svg") center / contain
        no-repeat;
    }

    &-title {
      font-size: rem(18px);
      color: #ffffff;
      font-weight: 500;
    }
  }

  &__menu {
    width: 100%;
    box-sizing: border-box;
    padding: rem(20px);
    color: #ffffff;
    font-weight: 500;

    &-wrapper {
      .sidebar__link {
        margin-top: rem(5px);
      }
    }
  }

  &__link {
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    padding: rem(10.12px 5px);
    border-radius: rem(5px);

    &:hover,
    &.--active {
      background: #60bbfb;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      gap: rem(10px);
    }

    &-icon {
      width: rem(22.75px);
      height: rem(22.75px);
      transition: all 0.3s ease;

      &.--folder {
        background: url("../../assets/img/menu/folder.svg") center / contain
          no-repeat;
      }
    }

    &-title {
      font-size: rem(18px);
    }
  }

  &__footer {
    position: absolute;
    box-sizing: border-box;
    padding: rem(0 41px);
    bottom: rem(20px);
  }

  &__progress {
    &-wrapper {
      display: flex;
      align-items: center;
      gap: rem(5px);
    }

    &-icon {
      width: rem(36px);
      height: rem(36px);
      background: url("../../assets/img/cloud-icon.svg") center / contain
        no-repeat;
    }

    &-title {
      font-weight: 500;
      font-size: rem(18px);
      color: #ffffff;
    }

    &-loader {
      margin: rem(5px 0);
      position: relative;
      width: 100%;
      height: rem(9px);
      border-radius: rem(13px);
      background: #ffffff;
    }

    &-capacity {
      position: absolute;
      width: 40%;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: rem(13px);
      background: #99d4ff;
    }

    &-desc {
      font-size: rem(13px);
      color: #ffffff;
    }
  }
}
